html { 
  background: url(background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
	background-color: transparent !important;
	color: black;
}
.nav a {
	color: rgb(0, 205, 36);
}

.nav {
	background-color: black;
}


.body {

	background-color: rgb(200, 200, 200, 0.5);
	color: whitesmoke;
	border: rgb(0, 255, 0) solid 2px;
	text-align: center;
	border-radius: auto;
	font-size: auto;
    transition: all 0.3s linear;
}

.body:hover {
    -webkit-box-shadow:rgb(0,205,0) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgb(0,205,0) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgb(0,205,0) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgb(0,205,0) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

div {
	background-color: transparent;
}

h1 {
	background-color: black;
	color: rgb(0, 205, 36);
	text-align: center;
	border: solid rgb(0, 205, 36);
	padding: auto;
}

.containor {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

}